.location-main {
    padding-top: 80px;
}

.location-hero {
    height: 260px;
    background: linear-gradient(135deg, #020617, #0ea5e9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.location-section {
    padding: 80px 0;
}

.bg-dark {
    background: #020617;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.sub-section-title {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
}

.map-box {
    height: 400px;
    background: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.location-info-section {
    padding: 40px 0 80px;
}

.location-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.info-icon {
    color: #0ea5e9;
    font-size: 18px;
}


.placeholder-box {
    padding: 60px;
    border: 2px dashed #ccc;
    text-align: center;
}